<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poly.persistance.mapper.UserMapper">
	<insert id="userRegProc" parameterType="UserDTO">
		INSERT
		INTO
		USER_INFO
		(
			USER_SEQ,
			USER_ID,
			USER_NAME,
			REG_DT,
			USER_PASSWORD
		)
		VALUES
		(
			USER_SEQ.NEXTVAL,
			#{userId},
			#{userName},
			SYSDATE,
			#{userPassword}
		)
	</insert>
	
	<select id="getLogin" parameterType="UserDTO" resultType="UserDTO">
		SELECT
			USER_NAME as userName, 
			USER_ID as userId,
			USER_SEQ as userSeq
		FROM USER_INFO
		WHERE USER_ID = #{userId} AND USER_PASSWORD = #{userPassword}
	</select>
	
</mapper>